body {
  color: black;
  background-color:white;
  font-family: 'Arvo', serif;
}

nav{
  font-size: 32px;
  padding-bottom: 30px;
  margin: 20px 20px 0px;
}

a{
  color:black;
  padding-left: 5px;
  padding-right:5px;
}

a:hover{
  color:white;
  background-color: #1C1762;
  text-decoration:none;
}

main{
  margin-left: 50px;
  margin-right: 50px;
  /*color:RGBA(90, 90, 90, 1.00);*/
  font-weight: 400;
  font-size: 24px;
}

p.proj{
 background:RGBA(0, 229, 253, 0.50);
}

ul.nav{
  text-align: center;
}

li.nav{
  list-style-type: none;
  display: inline-block;
}


/* put this in a seperate div*/
#projects{

}

#content{
  width: 50%;
  margin: 0 auto;
}

#title{
  font-weight: 700;
  font-size: 24px;
  float:left;
  display: inline-block;
}

#social{
  display: inline-block;
  float:right;
  color:black;
  font-size: 24px;
  /*position: absolute;*/
}
